.db-table-main{font-weight:bold;}
.db-table-thumb{width:160px;}
.db-table-title{width:300px;}
.db-table-channels{}

.video_pages_pos{height:20px;margin:0 3px 0 0;padding:5px 5px 2px 5px;background-color:#f1f1f1;border:1px #bcbcbc solid;float:left;color:#5c5c5c;} 